API_KEY=supersecretkey

DB_USER=payments_user
DB_PASSWORD=supersecret
DB_NAME=payments

DB_PORT=5432
DB_TYPE=postgresql+asyncpg

API_PORT=8000

BROKER_PORT=5672
BROKER_USER=payments_user
BROKER_PASS=supersecret
BROKER_URL="ampq://payments_user:supersecret@rabbitmq:5672/"
